body{
    font-family: "DM Sans", serif;
}
.para{
   
    font-size: 22px;
    font-weight: medium;
    color: #FFFFFF;
    line-height: 32px;
    padding-bottom: 48px;
    text-align: center;
}
a{
    text-decoration: none;
}
.box{
    display: flex;
}
/* header-part start */
.header-part{
    background: #2F1893;
    background-image: url("../image/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0;
}
.header-part .navbar-nav{
    gap: 44px;
}
.header-part .navbar-nav .nav-link{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: .5s;
}
.header-part .navbar-nav .nav-link:hover{
    border-bottom: 2px solid #FFFFFF;
    cursor: pointer;
}
.header-part .header-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-part .header-info .start{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: -0.29px;
    padding-top: 142px;
    
}
.header-part .header-info .heading{
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: -1px;
    padding: 27px 0;
}
.header-part .header-info .para{
    width: 65%;
}
.header-part .header-info .button a{
    text-decoration: none;
    font-size: 18px;
    font-weight: medium;
    color: #FFFFFF;
    background: #482BE7;
    padding: 17px 35px;
    border-radius: 100px;
    display: inline-block;
}
.header-part .header-info .span{
    display: flex;
    gap: 10px;
    padding-bottom: 40px;
}
.header-part .header-info .span span{
    width: 10px;
    height: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}
.header-part .header-info .span span:first-child{
    background: #FFFFFF;
}
/* header-part end */
/* powerful-part start */
.powerful-part{
    background: #2F1893;
    background-image: url(../image/powerful.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 15px;
    padding: 100px 0;
}
.powerful-part .info-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.powerful-part .info-part .p-heading{
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.powerful-part .info-part .p2-heading{
    width: 75%;
    font-size: 58px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 70px;
    letter-spacing: -1px;
    padding: 28px 0;
}
.powerful-part .info-part .para{
    width: 84%;
}
/* powerful-part end */
/* ctrate-part start */
.create-part{
    background: #2F1893;
    background-image: url(../image/create.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    padding: 100px 0;
    position: relative;
}
.create-part .image{
    height: 70%;
    position: absolute;
    left: 0;
}
.create-part .imageone{
    width: 100%;
    height: 100%;
    position: relative;
}

.create-part .imagetwo {
    width: 76%;
    height: 86%;
    position: absolute;
    top: 5%;
}
.create-part .imageone img{
    width: 100%;
    height: 100%;
}
.create-part .imagetwo img{
    width: 100%;
   height: 100%;
}

.create-part .info h3{
    font-size: 42px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: -0.4px;
}
.create-part .info .para{
    width: 80%;
    font-size: 22px;
    font-weight: 300;
    color: #FFFFFF;
    line-height: 32px;
    padding-bottom: 48px;
    text-align: left !important;
}
.create-part .card{
    background: none;
}
.create-part .card img{
    width: 17%;
    height: 17%;
    padding-left: 13px;
}
.create-part .card .card-title{
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 2px;
}
.create-part .card .card-text{
    font-size: 16px;
    font-weight: 200;
    color: #FFFFFF;
    letter-spacing: 0;
}
.create-part .span {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    position: relative;
    top: -205px;
    right: -30px;
}
.create-part .span span{
    width: 10px;
    height: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}
.create-part .span span:first-child{
    
    background: white;
}
/* ctrate-part end */
/* digital-part start */

.digital{
    background: #2F1893;
    background-image: url(../image/digital.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    padding: 100px 0;
}
.digital .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.digital .info h3{
    width: 60%;
    font-size: 42px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 52px;
    letter-spacing: -0.4px;
    padding-bottom: 32px;
}
.digital .info p{
    width: 62%;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 26px;
}
.digital .form-part{
    background: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 75%;
    text-align: center;
    
}
.digital .form-part .heading{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    border-bottom: 2px solid #ddd;
}
.digital .form-part .heading a{
    color: #999;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    
}
.digital .form-part .heading a.active{
    color: #1E0E62;

}
.digital .form-part .heading a.active:hover{
    
    background: #1E0E62;
    color: white;
    border-radius: 7px;
    transition: .3s;
}
.digital .form-part .heading a:hover{
    background: #1E0E62;
    color: white;
    border-radius: 7px;
    transition: .3s;
}

.digital .form-part input{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 30px;
}
.digital .form-part .button1 a{
    font-size: 18px;
    color: #FFFFFF;
    background: #25DAC5;
    display: inline-block;
    padding: 10px 70px;
    margin-top: 10px;
    border-radius: 30px;
}
.digital .form-part .button2 a{

    font-size: 18px;
    color: #FFFFFF;
    background: #1DA1F2;
    display: inline-block;
    padding: 10px 75px;
    border-radius: 30px;
    margin-bottom: 20px;
}





/* digital-part end */
