body{
    font-family: "DM Sans", serif;
}
.para{
   
    font-size: 22px;
    font-weight: medium;
    color: #FFFFFF;
    line-height: 32px;
    padding-bottom: 48px;
    text-align: center;
}
.box{
    display: flex;
}
/* header-part start */
.header-part{
    background: #2F1893;
    background-image: url("../image/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0;
}
.header-part .navbar-nav{
    gap: 44px;
}
.header-part .navbar-nav .nav-link{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: .5s;
}
.header-part .navbar-nav .nav-link:hover{
    border-bottom: 2px solid #FFFFFF;
    cursor: pointer;
}
.header-part .header-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-part .header-info .start{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: -0.29px;
    padding-top: 142px;
    
}
.header-part .header-info .heading{
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: -1px;
    padding: 27px 0;
}
.header-part .header-info .para{
    width: 65%;
}
.header-part .header-info .button a{
    text-decoration: none;
    font-size: 18px;
    font-weight: medium;
    color: #FFFFFF;
    background: #482BE7;
    padding: 17px 35px;
    border-radius: 100px;
    display: inline-block;
}
.header-part .header-info .span{
    display: flex;
    gap: 10px;
    padding-bottom: 40px;
}
.header-part .header-info .span span{
    width: 10px;
    height: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}
.header-part .header-info .span span:first-child{
    background: #FFFFFF;
}
/* header-part end */
/* powerful-part start */
.powerful-part{
    background: #2F1893;
    background-image: url(../image/powerful.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 15px;
    padding: 100px 0;
}
.powerful-part .info-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.powerful-part .info-part .p-heading{
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.powerful-part .info-part .p2-heading{
    width: 75%;
    font-size: 58px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 70px;
    letter-spacing: -1px;
    padding: 28px 0;
}
.powerful-part .info-part .para{
    width: 84%;
}
/* powerful-part end */
/* ctrate-part start */
.create-part{
    background: #2F1893;
    background-image: url(../image/create.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    padding: 100px 0;
    position: relative;
}
.create-part .image{
    height: 70%;
    position: absolute;
    left: 0;
}
.create-part .imageone{
    width: 100%;
    height: 100%;
    position: relative;
}

.create-part .imagetwo {
    width: 76%;
    height: 86%;
    position: absolute;
    top: 5%;
}
.create-part .imageone img{
    width: 100%;
    height: 100%;
}
.create-part .imagetwo img{
    width: 100%;
   height: 100%;
}
.create-part .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create-part .info h3{
    font-size: 42px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: -0.4px;
}
.create-part .card{
    background: none;
}
.create-part .card img{
    width: 17%;
    height: 17%;
    padding-left: 13px;
}
.create-part .card .card-title{
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 2px;
}
.create-part .card .card-text{
    font-size: 16px;
    font-weight: 200;
    color: #FFFFFF;
    letter-spacing: 0;
}
/* ctrate-part end */
